.links{
    font-size: 2.5vw;
}
@media screen and (min-width:992px) {
    .right{
        z-index: 101;
        position: absolute;
        right: 50px;
    }  
}
@media screen and (max-width:992px) {
    .right{
        position: relative;
    }
}
