#map {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 5px;
  overflow: auto;
  width:100%;
  height:100%
}
@media screen and (max-width: 767px) {
  .results{
    background-color: rgb(20, 19, 19);
    opacity: 0.8;
    overflow: auto;
    height: 180px;
    width: 40%;
    margin-left: -3.5rem;
    margin-bottom: 1.5rem;
  }
  .first{
    width: 120px;
    margin: 10px;
  }
  .second{
    width: 120px;
    margin: 10px;
  }

}

@media screen and (min-width:768px) {
  .results{
    background-color: rgb(20, 19, 19);
    opacity: 0.8;
    height: 10.5rem;
    width: 40%;
    overflow: auto;
    margin-left: -3.5rem;
    margin-bottom: 1.5rem;
  }
  .first{
    width: 120px;
    margin: 10px;
  }
  .second{
    width: 120px;
    margin: 10px;
  }
}




.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.name{
  font-size: 2vw;
  margin-bottom: 0px !important;
}
.right{
  text-align: right;;
}
.divider{
  height: 2px;
  background-color: black;
  width: 100%;
}

  